[".local/bin/ws"]
type = "archive-file"
url = "https://github.com/rtxnik/ws/releases/latest/download/ws_{{ .chezmoi.os }}_{{ .chezmoi.arch }}.tar.gz"
executable = true
path = "ws"
refreshPeriod = "168h"
