[".local/bin/ws"]
type = "archive-file"
url = "https://github.com/rtxnik/ws/releases/download/v{{ .ws_version }}/ws_{{ .ws_version }}_{{ .chezmoi.os }}_{{ .chezmoi.arch }}.tar.gz"
executable = true
path = "ws"
